*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Times, serif;
}

header{
    /* grid-area: hd; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem;

}

#logo{
    height: 7rem;
}

.headerRight{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.navbar{
    display: flex;
    background-color:green ;
}
nav{
    display: flex;
    font-size: 1.3rem;
    background-color: green;
    border-top: 2px solid grey;
    padding: 15px 40px;
    gap: 3rem;
    justify-content: space-around;
}
.menu .ham{
    font-size: 2rem;
    color: #000;
    font-weight: 900;
    cursor: pointer;
    display: none;
    
}
a{
    text-decoration: none;
    color: #fff;
}

input{
    border-radius: 10px;
    text-align: center;
}
section{
    display: flex;
    gap: 5rem;
}

.sidebar{
    /* grid-area: side; */
    width: 400px;
    background-color: rgb(111, 224, 111);
    height: 1000px;
    font-size: 1.2rem;
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 3rem;
    line-height: 2.5rem;

}

.sidebar::-webkit-scrollbar{
    display: none;
}

#list{
    display: inline;
    
}

#list a{
    color: #000;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.main{
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: scroll;
    height: 1000px;
}

.main::-webkit-scrollbar{
    display: none;
}
#heading{
    font-size: 3rem;
    margin: 3rem;
    font-weight: 800;
}
#para{
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    margin-top: 1.5rem;
}
.cards{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 3rem;
    flex-wrap: nowrap;
}
.card{
    display: inline;
    height: 12em;
    width: 10em;
    background-color: #fff;
    border: 1px solid #f8f8f4;
    border-radius: 10px;
    text-align: center;

}

.card:hover{
    background-color: rgb(253, 253, 253);
}

#dmt{
    width: 280px;
}

#text{
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}
.card img{
    height: 6em;
    padding: 10px;
    width: 10em;
}
.main1 .link1{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    gap: 2rem;
    
}
.link1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 3rem;
    flex-wrap: nowrap;
}

.link{
    display: inline;
    height: 13em;
    width: 12em;
    background-color: #fff;
    border: 1px solid #f8f8f4;
    border-radius: 10px;
    text-align: center;
}

.link img{
    width: 13em;
    height: 12em;
}
footer{
    background-color: rgb(255, 150, 31);
}

#image{
    height: 50px;
}
footer h3{
    font-size: 1.1rem;
}
.footer1{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 20px;
    font-size: 1rem;
    
}

.footer2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    
}
#span1{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}
.footer3{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
}
#span2{
    font-weight: 600;
    font-size: 1.2rem;
}
@media (max-width:500px) {
    #logo{
        height: 2rem;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    #heading{
        font-size: 1rem;
        margin-top: 2rem;
    }
    #para{
        font-size: 0.9rem;
        margin-top: 1.6rem;
    }
    .cards{
        margin: 1.2rem;
    }
    .headerRight{
        gap: 0.5rem;
        margin-top: 10px;
    }
    nav{
        font-size: 0.8rem;
        gap: 1rem;
    }
    footer{
        display: none;
    }
    .menu .ham{
display: block;
margin-left: 2rem;
}
#dmt{
    height: 3rem;
    width: 3rem;
}
.navbar{
    display: flex;
}
#nav{
    display: none;
}
.sidebar{
    display: none;
}
.headerRight img{
    height: 0.5rem;

}
.card{
    height: 3rem;
    width: 3rem;
    line-height: 1rem;
}
.card img{
    height: 3rem;
    width: 3em;
}

#text{
    font-size: 10px;
    line-height: 2px;
}

.link{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 1rem;
}
.links{
    gap: 10px;
}
.link img{
    height: 3.5rem;
    width: 3.5rem;
}
.link1{
    margin-top: 10px;
}


.main div{
    /* line-height: 1rem; */
    margin-top: 5px;
}

}

@media (max-width:900px){

    .menu .ham{
display: block;
margin-left: 2rem;
}
.navbar{
    display: flex;
}
#nav{
    display: none;
}
.sidebar{
    display: none;
}

#logo{
        height: 3.2rem;
    }
    header{
        display: flex;
        flex-wrap: wrap;
    }
    #heading{
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }
    #para{
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    .cards{
        margin: 2rem;
    }
    .headerRight{
        gap: 1rem;
        margin-top: 10px;
    }
    nav{
        font-size: 0.8rem;
        gap: 1rem;
    }
    footer{
        display: flex;
    }
    .footer1{
        display: none;
    }
    .footer2{
        display: none;
    }
    .footer3{
        display: flex;
    }
    .headerRight img{
    height: 1rem;

}
.card{
    height: 5rem;
    width: 5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.card img{
    height: 5rem;
    width: 5em;
}
.cards{
    gap: 1.5rem;
}
#text{
    font-size: 1rem;
    line-height: 1rem;
}

.link{
    height: 6rem;
    width: 6rem;
    line-height: 1.8rem;
}
.links{
    gap: 2rem;
}
.link img{
    height: 6rem;
    width: 6rem;
}




}
@media (min-width:901px) and (max-width:1200px){
.menu.ham{
        display: none;

    }
    
    .sidebar{
        display: flex;
    }


}


