*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Times, serif;
}

header{
    /* grid-area: hd; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem;

}

#logo{
    height: 7rem;
}

.headerRight{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.navbar{
    display: flex;
    background-color:green ;
}
nav{
    display: flex;
    font-size: 1.3rem;
    background-color: green;
    border-top: 2px solid grey;
    padding: 15px 40px;
    gap: 3rem;
    justify-content: space-around;
}
.menu .ham{
    font-size: 2rem;
    color: #000;
    font-weight: 900;
    cursor: pointer;
    display: none;
    
}
a{
    text-decoration: none;
    color: #fff;
}

input{
    border-radius: 10px;
    text-align: center;
}
section{
    display: flex;
    gap: 5rem;
}

.sidebar{
    /* grid-area: side; */
    width: 400px;
    background-color: rgb(111, 224, 111);
    height: 1000px;
    font-size: 1.2rem;
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 3rem;
    line-height: 2.5rem;

}

.sidebar::-webkit-scrollbar{
    display: none;
}

#list{
    display: flex;
    flex-direction: column;
    /* padding: 15px 25px; */
    /* margin-top: 1rem; */
    /* margin-left: 1rem; */
    gap: 0.5rem;
    list-style: none;
    
}
#list a{
    color: #000;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.main{
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: scroll;
    height: 1000px;
}

.main::-webkit-scrollbar{
    display: none;
}
#heading{
    font-size: 3rem;
    margin: 3rem;
    font-weight: 800;
}
#para{
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    margin-top: 1.5rem;
}
.cards{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 3rem;
    flex-wrap: wrap;
}
.card{
    display: inline;
    height: 200px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #f8f8f4;
    border-radius: 10px;
    text-align: center;

}

.card:hover{
    background-color: rgb(253, 253, 253);
}

#dmt{
    width: 280px;
}

#text{
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}
.card img{
    height: 130px;
    padding: 10px;
    width: 160px;
}
.links{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 3rem;
    flex-wrap: wrap;
}

.link{
    display: inline;
    height: 250px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #f8f8f4;
    border-radius: 10px;
    text-align: center;
}

.link img{
    width: 240px;
    height: 250px;
}
footer{
    background-color: rgb(255, 150, 31);
}

#image{
    height: 50px;
}
footer h3{
    font-size: 1.1rem;
}
.footer1{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 20px;
    font-size: 1rem;
    
}

.footer2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    
}
#span1{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}
.footer3{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
}
#span2{
    font-weight: 600;
    font-size: 1.2rem;
}
@media (max-width:500px) {
    footer{
        display: none;
    }
    .menu .ham{
display: block;
}
.navbar{
    display: flex;
}
#nav{
    display: none;
}
.sidebar{
    display: none;
}
img{
    width: 100%;
    height: auto;
}
}

@media (max-width:900px){

    .menu .ham{
display: block;
}
.navbar{
    display: flex;
}
#nav{
    display: none;
}
.sidebar{
    display: none;
}


}
@media (min-width:901px) and (max-width:1200px){
.menu.ham{
        display: none;

    }
    
    .sidebar{
        display: flex;
    }


}


