*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}
h1{
    text-align: center;
    margin:2rem;
}
.main{
    align-items: center;
    display: flex;
}
form{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
div{
    display: flex;
    flex-direction: row;
    gap:2rem;
}

button{
    display: flex;
    padding: 15px 20px;
    color: #fff;
    background-color: aqua;
    align-items: center;
    border-radius: 10%;
    border: none;
    margin-left: 10rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
}