*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(184, 188, 192);
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.box1{
    width:400px;
    height: 700px;
    background-color: blue;
    border-radius:10px;
    color: #fff;
    font-size: 16px;
    padding: 20px 30px;
}
span{
    background: none;
    color: #fff;
    font-weight: 600;
}

#para{
    background-color: blue;
    font-size: 16px;
}
#heading{
    background-color: blue;
    font-size: 20px;
    margin-top: 2rem;
}
.box21{
display: flex;
color: #fff;
}

.box21 img{
    width: 20px;
}

.box22{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px dotted purple;
    border-radius: 10px;
    
}

#paranum{
    background-color: blueviolet;
    color:#fff;
    font-size: 16px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 70px;
}

.box23{
    color: #fff;
    font-size: 16px;
}

.box23 p {
    background-color: red;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 2rem;
}

button{
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#btn1{
    background-color: rgb(12, 186, 128);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#btn2{
    background-color: rgb(5, 71, 49);
    color:#fff;
    font-weight: 600;
    font-size: 16px;
}

#btn3{
    background-color: rgb(173, 173, 173);
    color: rgb(82, 78, 78);
    font-weight: 600;
    font-size: 16px;

}

#btn4{
    border: 2px solid green;
    color: green;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#btn5{
    border: 2px solid rgb(1, 75, 1);
    color: rgb(1, 75, 1);
    background-color: #fff;
    font-weight: 700;
    font-size: 17px;
}

#btn6{
    border: 2px solid grey;
    color: grey;
    background-color: rgb(196, 193, 193);
    font-size: 16px;
    font-weight: 600;
}

.box31{
    background-color: white;
    width: 400px;
    border-radius: 10px;
}

.box311{
    background-color: #fff;
    border-radius: 20px;
}

.box311 img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#heading1{
    padding: 10px;
    background-color: #fff;
}

.box311 p{
    background-color: white;
    padding: 10px;
    margin-bottom: 3rem;

}

#btn7{
    background-color: rgb(5, 71, 49);
    color:#fff;
    font-weight: 600;
    font-size: 16px;
    margin: 2rem;
}


@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
}

@media (min-width:601px) and (max-width:1250px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

