*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.5rem;
}

.header img{
    height: 1.2rem;
}

.card1{
    background-color: #fffffa;
}
.card1 .header h4{
    font-size: 1.2rem;
    color: rgb(223, 221, 221);
    margin-bottom: 10px;
}
.card{
    height: 650px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    background-color: #fff;
    padding: 10px;
}

.main1{
    background-color: blue;
    border-bottom-left-radius: 25px;
    height: 300px;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    background-color: blue;
}


#btn1{
    color: #fff;
    font-size: 12px;
    background-color:blue;
    padding: 10px 25px;
    text-align: center;
    border: none;
    font-weight: 600;
}
#btn2{
    color: rgb(255, 255, 255);
    background-color: blue;
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
    border-bottom: 2px solid rgb(5, 242, 5);
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 900;
    width: 200px;

}


.timer{
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}
.timer p img{
    border-radius: 50%;
}

.amount{
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;

}
#pay{
    background-color: rgba(5, 5, 231, 0.9);
    border-radius: 25px;
    width: 250px;
    padding: 4px;
    text-align: center;
    margin-left: 2rem;
    font-size: 12px;
    color: #ecebeb;

}
.amount p span{
    font-size: 1.5rem;
    color: #fff;
}
#para{
    margin-top: 10px;
    font-size: 12px;
    color: #fcfcfc;
    text-align: center;
}



.list{
    background-color: #fffffa;
    box-shadow: -5px -5px rgba(255, 255, 255, 0.2), 5px 5px rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
    margin-top: -8rem;
    width: 270px;
    height: 160px;
    margin-left: 2rem;
}

.list ul{
    list-style: none;
    padding: 10px;
}

.list ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.inputbox{
    border: 2px solid #000;
    border-radius: 10px;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    
}
.inputbox input{
    border: none;
    
}

.inputbox img{
    
    height: 1.8rem;
    border-left: 2px solid #000;
}

#submit{
    padding: 10px 100px;
    color: #fff;
    background-color: #0505e7;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 2rem;
    cursor: pointer;


}
#claim{
    padding: 5px 25px;
    color: #101010;
    background-color: #fcfcfc;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid blue;
    text-align: center;
    margin-top: 10px;
    margin-left: 2rem;
    cursor: pointer;
    width: 250px;
}
#para1{
    text-align: center;
    font-size: 10px;
    color: #000;
    margin-top: 10px;

}

a{
    color: #000;
}
#footer{
    margin-top: 1rem;
    font-size: 12px;
    color: #000;
    text-align: center;
    font-weight: 600;

}

#logo{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#logo img{
    height: 1.3rem;
    
}
footer{
    border-top-left-radius:10px ;
    border-top-right-radius: 10px ;
    background-color: rgb(154, 153, 153);
    color: #ecebeb;
    font-size: 0.9rem;
    padding: 10px;
    width: 350px;
    text-align: center;
    margin-top: -1rem;
}