*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.5rem;
}

.header img{
    height: 1.2rem;
}

.card1{
    background-color: #fffffa;
}
.card1 .header h4{
    font-size: 1.2rem;
    color: rgb(223, 221, 221);
    margin-bottom: 10px;
}
.card{
    height: 700px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 350px;
    background-color: #fff;
    padding: 10px;
}

.main1{
    background-color: blue;
    border-bottom-left-radius: 25px;
    height: 300px;

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    background-color: blue;
}


#btn1{
    color: #fff;
    font-size: 12px;
    background-color:blue;
    padding: 10px 35px;
    text-align: center;
    border-bottom: 2px solid rgb(5, 242, 5);
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 600;
}
#btn2{
    color: rgb(255, 255, 255);
    background-color: blue;
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
    border: none;
    font-weight: 900;
    width: 200px;

}

#note{
    background-color: #fff;
    color: #000;
    font-size: 0.8rem;
    text-align: center;
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -1rem;
    margin-left: 2rem;
    padding: 5px;
}
.button1{
    margin-top: 1rem;
    width: 265px;
    margin-left: 1rem;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background: #f9f8f8;
}

#upi{
    font-size: 10px;
    color: #000;
    font-weight: 700;
    background:transparent;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

#upiId{
    background-color: rgb(70, 70, 179);
    font-size: 10px;
    color: #f9f8f8;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    margin-right: -2rem;
    cursor: pointer;
}

.qr{
    margin-top: -7rem;
    background-color: #fff;
    width: 220px;
    margin-left: 4rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.qr-container{
    display: inline;
    text-align: center;

}
.timer{
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}
.timer p img{
    border-radius: 50%;
}

.amount{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.amount span{
    font-size: 1.3rem;
}


#save{
    font-size: 1rem;
    text-align: center;
    background-color: violet;
    width: 220px;
    height: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#para{
    
    font-size: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;

}


.icon{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 10px;
}
.icon a img{
    height: 2rem;
    border-radius: 50%;
}

.inputbox{
    border: 2px solid #000;
    border-radius: 10px;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    
}
.inputbox input{
    border: none;
    
}

.inputbox img{
    
    height: 1.8rem;
    border-left: 2px solid #000;
}

#submit{
    padding: 10px 100px;
    color: #fff;
    background-color: #0505e7;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 2rem;
    cursor: pointer;


}
#claim{
    padding: 5px 25px;
    color: #101010;
    background-color: #fcfcfc;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid blue;
    text-align: center;
    margin-top: 10px;
    margin-left: 2rem;
    cursor: pointer;
    width: 250px;
}
#para1{
    text-align: center;
    font-size: 10px;
    color: #000;
    margin-top: 10px;

}

a{
    color: #000;
}
#footer{
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    text-align: center;
    font-weight: 600;

}

#logo{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#logo img{
    height: 1.3rem;
    
}